/*~~~~~~~~~~~~~~~~~~~~~~~ color palette */

:root {
--bg-color-1: #a52a2a;
--bg-color-2: #2a739b;
--font: #111;
--accent-1: #be71b8;
--accent-2: #b7fa70;
--dark: #222;
}


/*~~~~~~~~~~~~~~~~~~~~~~~ CSS resets */

 * {
    margin: 0;
    padding: 0;
 }

 /* respect user font size */

 html {
    font-size: 100%;
 }

/*~~~~~~~~~~~~~~~~~~~~~ General CSS */

body{
    background-color: var(--bg-color-1);
    color: var(--font);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
}

@media (max-width: 700px){
    body {
            font-size: 1.3rem
    }
}

header {
    padding: 3rem;
    margin-bottom: 3rem;
    background-color: var(--bg-color-2);
    text-align: left;
}

@media (max-width: 700px){
    header {
        padding-left: 2rem;
    }
}

header h1{
    font-size: 3rem;
    text-decoration: underline;
    text-decoration-style: wavy;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration-color: var(--accent-2);
}

nav {
    position: absolute;
    right: 75.2rem;
    top: 7rem;
}

nav a{
    text-decoration: none;
    color: var(--accent-1);
    display: inline-block;
}

nav a:hover {
    color: var(--accent-2);
    transform: scale(1.3);
}

@media (max-width: 750px) {
    nav a {
        margin: 0 .5rem;
    }
}

p {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

main {
    max-width: 60rem;
    margin: 2rem auto;
}

@media (max-width: 850px) {
    main {
        margin: 2rem;
    }
}

@media (max-width: 600px){
    main {
        margin: 1rem;
    }
}

.about-section, .Portfolio-section, .contact-section {
    margin-bottom: 5rem;
}


.Portfolio-item img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: .5rem;
}

.Portfolio-item h3 {
    margin: 1rem 0;
}

.Portfolio-item p {
    font-size: 1.2rem;
}

.Portfolio-item {
    margin-bottom: 5rem;
    background-color: #ffebcd;
    padding: 4rem;
    box-shadow: 10px 10px 5px rgb(0, 0, 0);
}

@media (max-width: 800px){
    .Portfolio-item{
        padding: 3rem;
    }
}

@media (max-width: 600px){
    .Portfolio-item{
        padding: 2rem;
    }
}

.about-section{
    background-color: azure;
}


footer {
    background-color: var(--accent-2);
    color: aliceblue;
    text-align: right;
}


/* style classes */

.a-1 {
    color: darkolivegreen;
}