
body{
   animation: change-color 10s infinite alternate;
}

@keyframes change-color{
   0% {background-color: beige;}
   50% {background-color: rosybrown;}
   100% {background-color: aquamarine;}
}

 .title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 80px auto;
    animation: skew 3s infinite alternate;
 }

@keyframes skew {
   0% {transform: skew(0deg, 0deg);}
   100% {transform: skew(30deg, 20deg);}
}

 .square {
    background-color: orangered;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 50px auto;
    transition: all 1s;
    animation: opacity 5s infinite alternate;
 }

 .square:hover{
    background-color: black;
    transform: rotate(30deg);
 }

 @keyframes opacity {
   0% {opacity: 100;}
   100% {opacity: 0;}
 }

 .button-div {
    text-align: center;
 }

 .button {
    color: white;
    background-color: green;
    padding: 15px;;
    border-radius: 10px;
    text-decoration: none;
    text-decoration: none;
    display: inline-block;
    transition: all .5s;
 }

 .button:hover{
    background-color: blueviolet;
    color: black;
    transform: scale(1.5);
 }

 .loading{
   background-color: green;
   animation: stretch 5s 3 normal;
   width: 80vw;
 }

 @keyframes stretch {
   0% {width: 100px;}
   100% {width: 80vw;}
 }

 .loading:hover{
   transform: scale(0.5);
 }